button {
  all: unset;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: aquamarine;
  font-size: 16px;
  cursor: pointer;
  transition: 0.15s;
  line-height: 36px;
  &:hover {
    box-shadow: 0 4px 8px rgba(8, 0, 8, 0.15);
  }
}